
    <!-- Core -->
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/vendor/vivus/dist/vivus.min.js"></script>

    <!-- pixel JS -->
    <script src="https://appsrv1-147a1.kxcdn.com/pixel-lite/js/pixel.js"></script>
